/* AppPopup */
.popup-enter-from,
.popup-leave-to {
	opacity: 0;
	transform: scale(0.7);
}

.popup-enter-active,
.popup-leave-active {
	transition: all 0.3s;
}

/* Tooltip*/
.tooltip-enter-from,
.tooltip-leave-to {
	opacity: 0;
	transform: scale(0.9);
}

.tooltip-enter-active,
.tooltip-leave-active {
	transition: all 0.25s;
}

/* Auth forms */
.auth-enter-from,
.auth-leave-to {
	opacity: 0;
	transform: scale(0.9);
}

.auth-enter-active {
	transition: all 0.3s ease 0.2s;
}

.auth-leave-active,
.auth-move {
	transition: all 0.2s ease;
}

/* Aside drawer */
.drawer-enter-from {
	transform: translateX(-12rem);
}

.drawer-leave-to {
	transform: translateX(-15rem);
}

.drawer-enter-active {
	transition: all 0.8s;
}

.drawer-leave-active,
.drawer-move {
	position: absolute;
	transition: all 0.7s;
}

/* Modal window */
.modal-enter-from,
.modal-leave-to {
	opacity: 0;
}

.modal-enter-active,
.modal-leave-active {
	transition: opacity 0.35s ease;
}

/* Card transition */
.card-enter-from,
.card-leave-to {
	opacity: 0.8;
	transform: scale(0.9);
}

.card-enter-active,
.card-leave-active {
	transition: all 0.2s;
}

/* Task transition */
.task-enter-from,
.task-leave-to {
	transform: scale(0.95);
}

.task-enter-active,
.task-leave-active {
	transition: all 0.5s 0.2s;
}

/* Info cards */
.info-card-enter-from {
	opacity: 0;
	position: absolute;
}

.info-card-leave-to {
	opacity: 0;
}

.info-card-enter-active {
	transition: all 0.4s 0.5s;
}

.info-card-leave-active,
.inof-card-move {
	transition: all 0.3s;
}

/* Info subcard */
.info-enter-from,
.info-leave-to {
	opacity: 0;
	transform: scale(0.9);
}

.info-enter-active,
.info-leave-active {
	transition: all 0.4s 0.2s;
}

