/* AppPopup */
.popup-enter-from,
.popup-leave-to {
	opacity: 0;
	transform: scale(0.7);
}

.popup-enter-active,
.popup-leave-active {
	transition: all 0.3s;
}

/* Modal window */
.modal-enter-from,
.modal-leave-to {
	opacity: 0;
}

.modal-enter-active,
.modal-leave-active {
	transition: opacity 0.35s ease;
}

